body{
    background-color: #CCCCFF;
}
#memoryBoard{
    width: 559px;
    height: 559px;
    padding: 24px;
    background-color: #FFF;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
}
h1{
    font-size: 80px;
    text-align: center;
    font-family: "Times New Roman", Georgia, sans-serif;
}
img{
    width: 135px;
    height: 135px;
    
}
p{
    font-size: 150%;
    font-style: oblique;
    font-family: "Times New Roman", Georgia, sans-serif;
}